RFID_SERVICE_UUID=12345678-1234-1234-1234-1234567890ab
RFID_CHARACTERISTIC_UUID=abcdefab-1234-5678-1234-abcdefabcdef
FIRMWARE_VERSION_CHARACTERISTIC_UUID=E04A98F1-3B9A-4692-9122-57031CA11EE0

BACKEND_BASE_URL=http://localhost:8000
FIRMWARE_UPDATE_LIST_URL=https://<url>.json
THEME_MODE=app
